[submodule "miou-solo5"]
	path = miou-solo5
	url = https://git.robur.coop/robur/miou-solo5.git
[submodule "owi"]
	path = owi
	url = https://github.com/zapashcanon/owi.git
[submodule "digestif"]
	path = digestif
	url = https://github.com/mirage/digestif.git
[submodule "mirage-crypto"]
	path = mirage-crypto
	url = "https://github.com/dinosaure/mirage-crypto.git#miou-solo5"
